@page
@model FormsModel
@{
    ViewData["Title"] = "Forms";
}
<h1>@ViewData["Title"]</h1>

<p>This page is for creating new forms.</p>

<form onsubmit="save_Click">
    <label for="name"> Name: </label> <br>
    <input type="text" id="name" name="name"/> <br>

    <label for="date"> Date: </label> <br>
    <input type="text" id="date" name="date" /> <br>

    <label for="description"> Description: </label> <br>
    <input type="text" id="description" name="description" /> <br><br>

    <input type="submit" id="save" value="submit" />

</form>